/*font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;*/

@media (max-width: 600px) {
  .grid-text-box {
    margin-top: 100px;
  }
  .picture-box {
    padding-bottom: 20px;
  }
}

:root {
  --primary-color: rgb(21, 51, 114);
  --secondary-color: rgb(221, 255, 242);
  --fancy-font-family: "Pacifico", cursive;
  --standard-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
p {
  text-align: center;
  color: var(--primary-color);
}

h1,
h3 {
  font-family: var(--fancy-font-family);
}

h2,
p {
  font-family: var(--standard-font-family);
}

h3 {
  padding-top: 25px;
}

p {
  padding-bottom: 15px;
  opacity: 70%;
}

.header {
  background-color: var(--secondary-color);
  padding-top: 35px;
  padding-bottom: 35px;
}

.grid-headings {
  font-size: 35px;
}

.recently-added {
  padding-top: 60px;

  font-size: 35px;
}

.grid-text-box {
  background-color: var(--secondary-color);
  text-align: center;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin: auto;
}

.basic-button {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.basic-button:hover {
  background-color: rgb(34, 76, 167);
  color: var(--secondary-color);
  cursor: pointer;
}

.sub-heading {
  font-size: 20px;
  padding-top: 20px;
}

.picture {
  display: block;
  margin: auto;
  width: 85%;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.footer {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 25px;
}

.icons {
  padding: 15px;
}

.made-by {
  margin: 15px;
}
