/*font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;*/

:root {
  --primary-color: rgb(21, 51, 114);
  --secondary-color: rgb(221, 255, 242);
  --fancy-font-family: "Pacifico", cursive;
  --standard-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
p,
h4 {
  text-align: center;
  color: var(--primary-color);
}

h1,
h3 {
  font-family: var(--fancy-font-family);
}

h2,
p {
  font-family: var(--standard-font-family);
}

h3 {
  padding-top: 25px;
}

p {
  padding-bottom: 15px;
  opacity: 70%;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px;
  border-radius: 24px;
}

p.about-content {
  text-align: left;
}

.about-me-content {
  border: solid 1px;
  border-radius: 7px;
  padding: 20px;

  border-color: var(--primary-color);
  margin-top: 35px;
}

.about-subheading {
  padding: 15px;
  font-family: var(--fancy-font-family);
}


.basic-button {
  background: var(--primary-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.basic-button:hover {
  background-color: rgb(34, 76, 167);
  color: var(--secondary-color);
  cursor: pointer;
}

.content {
  justify-content: center;
}

.content-links {
  text-align: center;
}

.footer {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 25px;
}

.grid-headings {
  font-size: 35px;
}

.grid-text-box {
  background-color: var(--secondary-color);
  text-align: center;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin: auto;
}


.header {
  background-color: var(--secondary-color);
  padding-top: 35px;
  padding-bottom: 35px;
}

.icons {
  padding: 15px;
}

.made-by {
  margin: 15px;
}


.my-work {
  margin-bottom: 0px;
}

.picture {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 85%;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.picture-of-me {
  display: block;
  margin: auto;
  width: 80%;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.project-image {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 75%;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.project-text-box {
  background-color: var(--secondary-color);
  text-align: center;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin: auto;
}

.project-row {
  margin-top: 75px;
  margin-bottom: 30px;
  border: solid 1px;
  border-radius: 7px;
  color: var(--primary-color);
  padding: 25px;
  justify-content: center;
}

.project-row {
  align-items: center;
}

.recently-added {
  padding-top: 60px;
  font-size: 35px;
}


.sub-heading {
  font-size: 20px;
  padding-top: 20px;
}



@media (max-width: 600px) {
  .grid-text-box {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .picture-box {
    padding-bottom: 20px;
  }
  .about-me-text {
    text-align: center;
  }
  p.about-content {
    text-align: center;
  }
  img.picture-of-me {
    display: none;
  }
  .about-me-content {
    border: none;
  }
  .project-image {
    display: none;
  }
  .project-container {
    margin-top: none;
  }
  .project-text-box {
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
  }
  .project-row {
    border: none;
    margin: 0px;
  }
}
